
/* Menu */

.menu2 {
	text-align: center;
}


.menu2 a, .menu2 ul, .menu2 li{
	text-decoration: none;
  font-family: sans-serif;
	font-size: 20px;
	color: black;
  margin: 5px 10px;
  display: inline-flex;

}

.boton{
	margin: 0px 30px;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
	justify-content: flex-end;
  font-family: 'Love Ya Like A Sister';
  font-size: 20px;
  background: #00FF00;
  cursor: pointer;
  border-radius: 20px;
}


.enlace{
  color: #FFF;
}

.enlace:hover{
  color: #00FF00;
}


/* Diseño tableta. */
@media (min-width: 768px) and (max-width: 1024px) {

  .menu2 {
    justify-content: center;
  }

}

/* Diseño telefono. */
@media (min-width: 221px) and (max-width: 767px) {

.menu2, .menu2 a, .menu2 ul, .menu2 li{
	margin: 5px;
	font-size: 12px;
	display: inline-flex;
}

.boton {
	margin: 0px;
	font-size: 15px;
	width: 100px;
}

}

}
